<configuration>
	<property name="SUFFIX_PATTERN" value="%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

	<appender name="syslog" class="ch.qos.logback.classic.net.SyslogAppender">
		<syslogHost>localhost</syslogHost>
		<port>514</port>
		<facility>USER</facility>
		<suffixPattern>${SUFFIX_PATTERN}</suffixPattern>
		<throwableExcluded>false</throwableExcluded>
	</appender>

	<root level="INFO">
		<appender-ref ref="syslog"/>
	</root>
</configuration>
